/* Section AVIS */
.avis-section {
  padding: 60px 20px;
  background: #f2f6ff;
  text-align: center;
}

.fade-title {
  font-size: 2em;
  margin-bottom: 25px;
  font-weight: bold;
  color: #002855;
}

/* SLIDER STRUCTURE */
.avis-slider {
  width: 100%;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.avis-track {
  display: flex;
  width: 400%;
  transition: 0.7s ease;
}

.avis-item {
  width: 100%;
  flex-shrink: 0;
  background: white;
  padding: 25px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  min-height: 150px;
}

.stars {
  color: #ffcc00;
  font-size: 1.4em;
  margin-bottom: 10px;
}
